<div class="container">
  <div class="row">
   <div class="col-md-12">
     <div class="col-md-6 ">
       <img [src]="cerveja.foto"  class="foto" />
       
     </div>
      <div class="col-md-6" >
        <h5 class="card-title">Nome: {{ cerveja.nome }}</h5>
        <span>Familia: {{ cerveja.familia }}</span> <br />
        <span>Litragem: {{ cerveja.litragem }}</span> <br />
        <span>Preço: {{ cerveja.preco }}</span> <br />
        <span>Data: {{ cerveja.data }}</span> <br />
        <span>Ranking: {{ cerveja.ranking }}</span> <br />
      </div>
      <button (click)='OnBack()' type="button" class="btn btn-primary">Voltar</button>
    
   </div>        
  </div>
</div>



